body, html {
    height: 100vh;
    margin: 0;
    background-color: #fbf5e2;
  }  

.bg {
    background-image: url("DALL·E\ 2022-11-07\ 00.34.16\ -\ treasure\ map\ one\ piece.png");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60vw;
  }

#x1 {
    position: relative;
    height: 7.5%;
    transform: rotate(75deg);
    top: 20vh;
    left: 50vw;
}

#x2 {
    position: relative;
    height: 7.5%;
    transform: rotate(105deg);
    top: 43vh;
    left: 40vw;
}

#x3 {
    position: relative;
    height: 7.5%;
    transform: rotate(70deg);
    top: 57vh;
    left: 46vw;
}

#x4 {
    position: relative;
    height: 7.5%;
    transform: rotate(75deg);
    top: 70vh;
    left: 30vw;
}

#x5 {
    position: relative;
    height: 7.5%;
    transform: rotate(105deg);
    top: 38vh;
    left: 41.5vw;
}
  
#x1:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

#x2:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

#x3:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

#x4:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

#x5:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

/* TITLE */
@font-face{
    src: url(Bugaki-Regular.ttf);
    font-family: bug;
}

.title{
    font-family: bug;
    font-size: 5.5vw;
    font-weight:bold;
    line-height: 40%;
}

.titleDiv{
    padding-left: 4.1%;
    padding-top: 0%;
}

.scrollTitle{
    font-family: bug;
    font-size: 3vw;
    font-weight:bold;
    text-align: center; 
    margin: 8%;
    margin-bottom: 6%;
}

/* POPUP */
.popup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.2);
    z-index:1;
    display:none;
}

.popup .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background: #fbf5e2;
    width:30vw;
    height:75vh;
    z-index:2;
    text-align:center;
    box-sizing:content-box;
    border-radius:15px;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}

/* CLOSE BTN */
.closeBtn{
    position: absolute;
    height: 8%;
    top: 5%;
    transform: rotate(90deg);
    left: 85%;
}

.closeBtn:hover{
    transform: scale(1.5);
    transition: transform .2s;
}

.pics{
    margin: 0;
    width: 75%;
    height: auto;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
}
